@charset "UTF-8";

.body_content{
	padding-left:5px; 
}

.footer_message{

	}

.header_message{
	padding-left:5px; 
}

.menu_content{
	padding-left:5px; 
}

.specific_form{
}

.profile_content{
	
}

.page_zone{
	padding-left:5px; 
}