@charset "UTF-8";

 /* WOFF архива фонтова */
/* YI Courier New      */

@font-face {
   font-family: "YI Courier New";
   src: url("../FONTS/cour.ttf");
}

.machine_font {
	font-family: 'YI Courier New';
}