@charset "UTF-8";

td table.simpletable{
        width:100%;
        margin:0;
}
table.simpletable{
        margin:1em 20px 0 0;
        border:0;
        border-top:1px solid #999;
        border-left:1px solid #999;
        font-size:90%;
        font-family: monospace, YI Courier New;
        box-sizing: content-box;  
}
td.simpletable,th.simpletable{
        border:0;
        border-right:1px solid #999;
        border-bottom:1px solid #999;
        padding:.2em .3em;
}
th.simpletable{
        background:black;
        color:white;
        text-align:left;
}
thead.simpletable td.simpletable,thead.simpletable th.simpletable{
        background:black;
        color:white;
}

tbody tr.simpletable:hover td,tbody tr.simpletable:hover th{
    	background:lightgray;
} 